@import "../common/colours";
@import "../common/screen_size";

.cardPromotion {
  text-align: center;
  color: $app--black;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  .noti {
    position: absolute;
    right: -25px;
    top: -11px;
    transform: rotate(40deg);
    background-color: #e53935;
    width: 5.5rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    font-weight: bold;
    z-index: 10;
    span {
      color: #fff;
      font-size: 0.75rem;
    }
    @media (max-width: $sm) {
      width: 4.5rem;
      height: 2rem;
      padding-bottom: 2px;
      span {
        color: #fff;
        font-size: 0.75rem;
      }
    }
  }
  .padding {
    padding-top: 0.75rem;
    cursor: pointer;
  }

  img {
    border-radius: 1rem;
    cursor: pointer;
  }

  .productInfo {
    span {
      font-size: 1rem;
    }

    .time {
      color: $app--gray--light;
    }
  }
}
