.sectionContact {
  background: url("../../assets/landingPage/lifestyle-business-people-holding-laptop-computer-office-desk-1.png");
  background-position-x: center;
  height: 39rem;
}
.contactContent {
  max-width: 40%;
  margin-top: 6rem;

  h2 {
    margin-bottom: 40px;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
