@import '../common/colours';
@import '../common/screen_size';

.dialogWrapper {
  min-height: 30rem;

  .dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
    }
    .icon {
      font-size: 1.2rem;
      color: rgba($color: $app--black, $alpha: 0.6);
      cursor: pointer;
    }
  }
}

.otpWrapper {
  text-align: center;
  padding: 5rem 2rem;

  input {
    font-weight: bold;
  }

  .expires {
    padding: 0.5rem 0;

    span {
      font-weight: 700;
    }
  }

  .resend {
    padding: 0.5rem 0;

    span {
      font-size: 1rem;
      font-weight: 700;
      color: $app--primary--01;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .otpInputWrapper {
    padding: 2rem 0;
    div {
      padding: 0 0.625rem;

      input {
        width: 3.125rem !important;
        height: 3.125rem;
        border: 0;
        border-bottom: 1px solid $app--primary--01;
        font-size: 1rem;
        color: $app--primary--01;

        &:focus {
          border-bottom: 2px solid $app--primary--01;
        }
        &:focus-within {
          outline: none;
        }

        @media (max-width: $sm) {
          width: 1.5rem !important;
          height: 1.5rem;
        }
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .timer {
    padding-top: 1rem;

    .seconds {
      font-weight: 700;
      color: $app--primary--01;
      font-size: 1rem;
    }
  }
}
