@import '../common/colours';

.wrapper {
  background-color: $app--white;
  border-radius: 0.5rem;
  padding: 1rem;

  .avatar {
    margin-top: 1rem;
    h6 {
      font-size: 1rem;
      font-weight: bold;
    }
    span {
      font-size: 0.875rem;
      color: rgba($color: $app--black, $alpha: 0.5);
    }
  }
}
