@import '../common/colours';
@import '../common/screen_size';

.ratingWrapper {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .rating {
    font-size: 2.5rem;
  }

  p {
    text-align: center;
  }
}
