.newItem {
  width: 100%;
  p {
    margin-bottom: 1.5rem;
  }
  overflow: hidden;
}
.thumbNew {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.thumbNewRow {
  width: 100%;
  height: 7.5rem;
}
h6{
  cursor: pointer;
}
