@import '../common/colours';

.cardImageWrapper {
  display: flex;
  justify-content: center;
  .cardImage {
    max-width: 27.2rem;
    position: relative;
    img {
      width: 100%;
    }
    .cardText {
      position: absolute;
      width: 100%;
      right: 0;
      top: 45%;
      .cardNumber {
        display: flex;
        align-items: center;
        margin-left: 2rem;

        button {
          margin-left: 0.5rem;
          color: $app--bg--02;
          border-radius: 50%;
        }

        h3 {
          font-size: 1.5rem;
        }
      }
      .cardDate {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 3rem;
        margin-top: 1rem;
        .smallText {
          small {
            font-size: 0.5rem;
            line-height: 0.55rem;
            margin-right: 0.5rem;
            display: block;
          }
        }
      }

      .cardName {
        font-size: 1.25rem;
        margin-left: 2rem;
      }
    }
  }
}
