@import '../../../common/colours';
@import '../../../common/screen_size';

.container {
  padding: 0 1rem;
  text-align: center;
}

.breakWrap {
  position: relative;
  background: $app--gray--dark;
  color: $app--white;

  padding-top: 2.5rem;

  img {
    width: 100%;
    margin-top: 2.5rem;

    @media (max-width: $sm) {
      width: 80%;
      margin: auto;
    }

    @media (max-width: $sm) {
      margin-top: 0;
    }
  }

  .headingWrap {
    position: relative;

    &::after {
      position: absolute;
      left: 50%;
      bottom: -0.5rem;
      transform: translateX(-50%);

      content: '';
      display: block;
      width: 3rem;
      height: 1px;
      background: white;
    }
  }

  button {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}

//common
.headingWrap {
  text-align: center;
  position: relative;

  .title {
    padding-bottom: 0.5rem;

    h5 {
      font-weight: 700;
    }

    h3 {
      font-weight: 700;

      @media (max-width: $lg) {
        font-size: 2rem;
      }

      @media (max-width: $md) {
        font-size: 1.8rem;
      }

      @media (max-width: $sm) {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    @media (max-width: $sm) {
      font-size: 0.875rem;
      text-align: center;

      padding: 1rem 0;
    }
  }
}

.icon {
  position: absolute;
  top: -1.125rem;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: 0 0 0.75rem -0.313rem $app--black;

  width: 2rem;
  height: 2rem;

  background: $app--white;

  border-radius: 50%;
  text-align: center;

  svg {
    color: $app--primary--01;
    font-size: 1.2rem;
    margin-top: 0.375rem;
  }
}

.mobileBtn {
  border-radius: 2.5rem !important;
  color: $app--white !important;
}
