@import '../../common/_colours.scss';

.stepIconRootWrapper {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  padding: 0.125rem 0 0 0.125rem;
  border: 2px solid $app--bg--01;

  &:hover {
    cursor: pointer;
  }

  &.active {
    border: 2px solid $app--primary--02;
  }

  &.completed {
    border: 2px solid $app--complementary--01;
  }

  .nam {
    margin: 0;
    padding: 0;
  }

  .stepIconWrapper {
    color: $app--white;
    width: 2.25rem;
    height: 2.25rem;
    background: $app--bg--01;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    padding-top: 0.1875rem;

    &.active {
      background: $app--primary--02;
    }

    &.completed {
      background: $app--complementary--01;
    }
  }
}
