@import '../../common/colours';

.container {
  .tableWrap {
    width: 100%;
    height: 36.2rem;
    overflow: auto;

    .row {
      &:nth-child(odd) {
        background: #fafbfd;
      }
    }

    .cell {
      border-left: 0.063rem solid $app--bg--01;
      border-bottom: 0 !important;
      border-top: 0 !important;

      text-align: center;
      &:first-child {
        border-left: 0;
      }
    }
  }

  .paginationWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1rem;
  }
}
