@import "../../common/colours";

.dialogWrapper {
  border-radius: 1rem !important;
  text-align: center !important;
  width: 23rem;
  position: relative;

  .bodyDialog {
    padding: 2rem 1.5rem;
  }

  svg {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .closeIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    svg {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }

  .success {
    color: $app--complementary--01;
  }

  .error {
    color: $app--primary--01;
  }

  .warning {
    color: $app--primary--02;
  }

  .message {
    span {
      font-size: 0.875rem;
    }
  }

  .action {
    padding: 1rem;
    display: flex;
    justify-content: center;
    button {
      min-width: 40%;

      &:nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
}
