.paginationNav {
  padding: 2rem 0;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    li {
      list-style: none;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.637);
        &:hover {
          background-color: #eeee;
          color: rgba(0, 0, 0, 0.837);
        }
      }
    }
  }
}
