@import '../../common/_colours.scss';

.container {
  border-radius: 0.9375rem;
  border: 0.0625rem solid $app--bg--01;

  .profileWrapper {
    .expandCollapseWrapper {
      padding: 0.625rem;

      svg {
        cursor: pointer;
      }
    }
    .avatar {
      margin-bottom: 1.5625rem;
    }

    .collapsedAvatar {
      margin: 1.25rem 0;
    }

    span {
      &:first-of-type {
        font-weight: 700;
        line-height: 1.875rem;
      }

      &:last-of-type {
        line-height: 1.25rem;
      }
    }
  }

  .menuWrapper {
    padding: 0 3.275rem;
  }

  .menuActive {
    background-color: $app--hover;
    span {
      color: $app--primary--01;
    }
  }
}
