@import '../../common/colours';
@import '../../common/screen_size';

.social {
  button {
    background-color: transparent;
    border: none;
    padding: 0px;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }
}
