$app--white: #ffffff;
$app--black: #000000;

$app--primary--01: #da2128;
$app--primary--02: #ee9b31;
$app--complementary--01: #4fbf72;
$app--active: rgba(218, 33, 40, 0.1);
$app--bg--01: #d8d8d8;
$app--bg--02: rgba(0, 0, 0, 0.3);
$app--bg--03: rgba(246, 247, 247, 1);
$app--bg--04: #f4f4f4;
$app--hover: rgba(218, 33, 40, 0.04);
$app--cl--01: #2bbbe7;
$app--border: rgba(0, 0, 0, 0.2);
$app--hover: rgba(248, 246, 246, 1);

$app--primary--dark: #af0017;

$app--secondary: #ffcb05;
$app--secondary--dark: #e3b82a;

$app--gray: #273b4a;
$app--gray--dark: #454545;
$app--gray--light: #899296;
