@import '../common/colours';
@import '../common/screen_size';

.searchWrapper {
  padding: 0 1.5rem;
  h1 {
    font-size: 3rem;
    font-weight: bold;
    @media (max-width: $sm) {
      font-size: 1.5rem;
      padding-top: 1.5rem;
    }
  }

  .searchItem {
    padding: 1rem 0 1.5rem;
    border-bottom: 1px solid $app--bg--04;
    h6 {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .content {
      margin-bottom: 0.75rem;
    }
    a {
      color: $app--primary--01;
      text-decoration: underline;
      margin-left: 1rem;
    }
    .tag {
      background-color: $app--bg--04;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      position: relative;
      margin-right: 1rem;
      &::before {
        content: '';
        width: 1.35rem;
        height: 1.35rem;
        position: absolute;
        background-color: $app--bg--04;
        border-radius: 0.25rem;
        transform: rotate(45deg);
        top: 0.25rem;
        right: -0.5rem;
      }
      span {
        font-size: 0.875rem;
        position: relative;
      }
    }
  }

  .pageSize {
    display: flex;
    align-items: center;
    & > span {
      white-space: nowrap;
      display: block;
      margin-right: 0.5rem;
    }
  }
}
