@import '../common/colours';
@import '../common/screen_size';

.pageContents {
  padding-bottom: 3.125rem;
}

.registerTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;

  span {
    font-size: 1.125rem;
    font-weight: 700;
  }

  .now {
    font-weight: 700;
    font-size: 1.5rem;
    color: $app--primary--01;

    cursor: pointer;
  }
}

.registerBody {
  margin: 2.5rem 0;

  @media (max-width: $md) {
    .registerContent {
      margin-top: 3rem;
    }
  }

  .textFieldWrapper {
    padding-bottom: 0.625rem;

    &:last-of-type {
      padding-bottom: 2.5rem;
    }
  }

  .completeIconWrapper {
    margin-bottom: 2.5rem;

    svg {
      width: 100%;
      padding-bottom: 1.25rem;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.stepIconRootWrapper {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  padding: 0.125rem 0 0 0.125rem;
  border: 0.125rem solid $app--bg--01;

  &:hover {
    cursor: pointer;
  }

  &.active {
    border: 0.125rem solid $app--primary--02;
  }

  &.completed {
    border: 0.125rem solid $app--complementary--01;
  }

  .stepIconWrapper {
    color: $app--white;
    width: 2.25rem;
    height: 2.25rem;
    background: $app--bg--01;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    padding-top: 0.1875rem;

    &.active {
      background: $app--primary--02;
    }

    &.completed {
      background: $app--complementary--01;
    }
  }
}

.stepName {
  display: flex;
  flex-direction: column;
  .mainStep {
    font-size: 1rem;
  }
  .subStep {
    color: rgba($color: $app--black, $alpha: 0.54);
  }

  ul {
    margin: 0;
    padding-left: 2rem;

    li {
      padding: 0.1rem 0;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &.active {
        color: $app--primary--02;
      }
    }
  }
}
