@import "../common/colours";
@import "../common/screen_size";

.pageWrap {
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
}

.rowDetail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.colDetail {
  display: flex;
  justify-content: center;
  padding: 2rem 1.3rem;
  column-gap: 5px;

  &.first {
    padding-top: 0;

    .linkPC {
      display: block;
      cursor: pointer;
      text-decoration: underline;
      color: $app--primary--01;
    }
  }

  span {
    font-size: 0.875rem;
  }

  ul {
    li {
      margin-bottom: 1rem;
    }
  }
}
.colDetail {
  &:nth-child(2) {
    border-right: 1px solid rgba(#000, 0.2);
    border-left: 1px solid rgba(#000, 0.2);
  }
}
.headDetail {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #eeeeee;
  text-align: center;
}
.itemProduct {
  gap: 1rem;
  h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: $app--black;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.itemProductImg {
  height: 12.5rem;
  width: 100%;
  margin: 0.5rem 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
}

.emptyCard {
  height: 12.5rem;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.addCard {
  display: flex;
  align-items: center;
  color: $app--primary--01;
  cursor: pointer;

  .link {
    display: block;
    margin-left: 0.5rem;

    color: $app--primary--01;
    border-bottom: 0.063rem solid $app--primary--01;
  }
}

.emptyCardMobile {
  width: 100%;
  margin-top: 3.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.addCardMobile {
  display: flex;
  align-items: center;
  align-self: center;
  color: $app--primary--01;
  cursor: pointer;
  margin-top: 1.3rem;

  .link {
    display: block;
    margin-left: 0.5rem;
    color: $app--primary--01;
    border-bottom: 0.063rem solid $app--primary--01;
  }
}

.compareMobileWrap {
  .swiperWrap {
    width: 100%;

    .swiper-slide {
      width: 50%;
    }
  }
  .swiperFix {
    border-bottom: 1px solid rgba(#000, 0.2);
    position: fixed;
    background: #fff;
    top: 70px;
    z-index: 9999;
    .colDetail {
      text-align: center;
      padding: 0.8rem 0.5rem !important;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 200%;
        background-color: rgba(#000, 0.1);
        right: -1px;
        top: 0;
      }
    }
  }
  .mobileTitle {
    padding: 1.5rem 1rem;
    font-weight: 700;
  }

  .colDetail {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 1rem;
    column-gap: 0.313rem;

    span {
      font-size: 0.875rem;
    }

    ul {
      padding-left: 1.25rem;
      margin: 0;

      li {
        margin-bottom: 0.5rem;
      }
    }

    button {
      border-radius: 2.5rem;
    }

    &.first {
      padding-top: 0;
    }

    .cardImg {
      width: 100%;
      margin: 1.5rem 0;
      @media (max-width: $sm) {
        height: 150px;
        max-width: 100%;
        object-fit: contain;
      }
    }

    .cardName {
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }

    .link {
      display: block;
      margin: 1rem 0;

      cursor: pointer;

      color: $app--primary--01;
      border-bottom: 0.063rem solid $app--primary--01;
    }

    .chooseIcon {
      padding-top: 0.3rem;
      padding-right: 0.5rem;
    }
  }

  .headDetail {
    width: 100%;
    padding: 1rem 0;
    background-color: #eeeeee;

    text-align: center;
    span {
      font-weight: 700;
    }
  }

  .contentWrap {
    position: relative;

    &::after {
      content: "";
      height: 100%;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: 0;
      border-left: 0.063rem solid rgba(#000, 0.2);
      z-index: 2;
    }

    .nav {
      width: 1.8rem;
      height: 2.5rem;

      color: $app--gray--light;
      background-color: $app--bg--01;

      position: fixed;
      top: 50%;
      z-index: 10;
    }

    .navPrev {
      @extend .nav;
      left: 0rem;
      border-radius: 0 5rem 5rem 0;

      svg {
        margin-right: 0.35rem;
      }
    }
    .navNext {
      @extend .nav;
      right: 0rem;
      border-radius: 5rem 0 0 5rem;
      svg {
        margin-left: 0.35rem;
      }
    }
  }
}

.dialogWrapper {
  width: 35rem;

  .dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    border-bottom: 0.063rem solid $app--bg--01;

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .icon {
      font-size: 1.2rem;
      color: rgba($color: $app--black, $alpha: 0.6);
      cursor: pointer;
    }
  }
}
.dialogBody {
  .overflow {
    max-height: 26.5rem;
    overflow-y: auto;
    @media (max-width: $sm) {
      max-height: calc(100vh - 8rem);
    }
  }

  .listWrap {
    margin: 1rem 0;
    .cardItem {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: rgba($color: $app--bg--01, $alpha: 0.2);
      }

      .cardImg {
        flex-basis: 25%;
        width: 25%;
      }

      .cardInfo {
        flex-basis: 70%;
        width: 70%;
        padding: 0 1rem;

        h6 {
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
          @media (max-width: $sm) {
            padding-bottom: 0.125rem;
            font-size: 1rem;
            line-height: 1.125rem;
          }
        }

        span {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .btn {
    margin: 1rem;
  }
}
